/* comentado por mi
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/* comentado por mi
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@import url('https://fonts.googleapis.com/css?family=family=Rubik:wght@300;400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
}